<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>RSS</span>
          </a>
        </p>
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
        <h2>Project Links:</h2>
        <ul>
                    <li>
                        <a href="https://www.sciencemuseumgroup.org.uk/project/heritage-connector/">Project information</a>
                    </li>
                    <li>
                        <a href="https://www.zotero.org/groups/2439363/heritage_connector">Zotero Library</a>
                    </li>
                    <li>
                        <a href="https://github.com/TheScienceMuseum/heritage-connector/">Github repository</a>
                    </li>
                </ul> 
        
                 <p>{{ site.description | escape }}</p>
      </div>
      <div class="footer-col">
 
      <p>Heritage Connector is funded by the Arts and Humanities Research Council's <a href="https://ahrc.ukri.org/research/fundedthemesandprogrammes/tanc-opening-uk-heritage-to-the-world/">Towards a National Collection: Opening UK Heritage to the World</a> fund.</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

    
  </div>

</footer>
