// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
header.site-header {background-color: black; background-image: url("/heritageconnector/assets/SWITCH-1536x600.jpg"); background-repeat: no-repeat; background-size: cover; background-position: centre; }
.site-title, .site-title:visited {color: white; text-transform: uppercase; text-decoration: none; font-size: 2.3em; padding-top: 1em; padding-bottom: 1em;}
.site-nav {display: none;}
a, a:visited, a:hover {color: black; text-decoration: underline;}
.footer-col-wrapper {color: black; font-size: 1em;}
.post-meta {color: black;}
.post-title {font-size: 2em;}
.post-content h2 {font-size: 1.5rem; margin-top: 5px;}
.post-content h3 {font-size: 1.2rem; margin-bottom: 5px; margin-top: 5px; font-weight: bold;}
body {font-size: 18px;}
h1, h2 {text-transform: uppercase; font-weight: bold;}
